{% extends "layout.html" %}
{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<style>
        .margin-top-form {
            margin-top: 160px;
        }
        .margin-left-form{
            margin-left:350px;
        }
        .formkayit{
            width:500px;
        }
        .margin-top-button{
            margin-top:150px;
        }
        .width{
			width:550px;
		}
</style>
<div class="container bg-light w-100 margin-top-form rounded pt-2" style = "max-width:500px">
    {% if session["en"] == True and session["tr"] == False %}
    <form method = "post">
         <h3 class="iconfonts text-center">COMICS MAN</h3>
         <hr>
       	<div class="form-group">
			{{ render_field(form.username,class = "form-control") }}		
		</div>

		<div class="form-group">
			{{ render_field(form.password,class = "form-control") }}
		</div>
        <a href="/forgot-password" alt = "Comicsman-ForgotMyPassword"><strong>Forgot my Password</strong></a>
    <button class = "btn btn-danger form-control margin-top-button mb-3" alt = "Comicsman-Login">Login</button>
    </form>
    {% else %}
    <form method = "post">
         <h3 class="iconfonts text-center">COMICS MAN</h3>
         <hr>
       	<div class="form-group">
			{{ render_field(form.username,class = "form-control") }}		
		</div>

		<div class="form-group">
			{{ render_field(form.password,class = "form-control") }}
		</div>
        <a href="/forgot-password" alt = "Comicsman-Update"><strong>Parolamı Unuttum</strong></a>
    <button class = "btn btn-danger form-control margin-top-button mb-3" alt = "Comicsman-Login">Giriş Yap</button>
    </form>
    {% endif %}
     </div>
{% endblock body %}